
.actions {
  padding-right: 20px;
  text-align: right;
  width: 90%;
  position: relative;
  left: 0;
}

.infobtn {
  background-color: green!important;
}

.prompt {
  background-color: white!important;
  border: none!important;
  font-size: 18px;
  height: 40px;
}

.actions span {
  font-size: 20px;
  padding-right: 25px;
  font-family: 'Nunito', sans-serif!important;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-weight: 700;
}

.appname {
  width: 30%;
  font-family: 'Nunito', sans-serif!important;
  font-weight: 900!important;
  letter-spacing: 1px!important;
  word-spacing: -3px!important;
}