
.querybox {
    width: 80%;
    margin-left: 10%;
    min-height: 300px;
    padding: 20px;
}
  
  .querybox .heading {
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    text-align: center;  
  }
  
  .querybox .subheading {
    text-align: center;  
  }
  
  .querybox .querytextbox {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    padding: 10px 20px;
    width: 100%;
    /* margin-bottom: 60px; */
  }
  
  .querybox .querybtn {
    margin: 20px;
    /* width: 160px; */
    font-size: 18px;
    padding: 10px;
  }

  .response {
    font-size: 20px;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
    
  }

  pre {
    white-space: pre-wrap;

  }

  .body {
    margin-top: 80px;
  }

  .selection {
    text-align: center;
  }

  .loadingbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    content: "Loading ....";
    z-index: 1000000;
    line-height: 100vh;
    font-size: 6vh;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
  }

.hidden {
  display: none;
}  